[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LAD"]
	path = LAD
	url = https://github.com/cran/LAD
[submodule "LAIr"]
	path = LAIr
	url = https://github.com/cran/LAIr
[submodule "hemispheR"]
	path = hemispheR
	url = https://github.com/cran/hemispheR
