[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "hemispheR"]
	path = hemispheR
	url = https://github.com/cran/hemispheR
	shallow = true
	registered = true
